//- params = href, text, class
mixin nav-menu-item(params={ href: '', text: '', class: '', currentPage: '' })
    a(href=params.href, class=classNames("nav-menu__item", params.class, params.currentPage === params.href && 'nav-menu__item--current'))
        span.nav-menu__item-text= params.text

//- flags = dark, hideMainLink
//- params = currentPage
mixin nav-menu(flags=[], params={ currentPage: '' })
    nav(
        role="navigation",
        class=classNames("nav-menu", flags.has('dark') && 'nav-menu--dark')
    )
        -
            let items = [
                !flags.has('hideMainLink') && { href: "/", text: "Главная", class: 'first-el', currentPage: params.currentPage },
                { href: "/cases", text: "Кейсы", class: flags.has('hideMainLink') && 'first-el', currentPage: params.currentPage },
                { href: "/tech",     text: "Технологии",   currentPage: params.currentPage },
                { href: "/team",     text: "Команда",         currentPage: params.currentPage },
                { href: "/contacts", text: "Контакты",     currentPage: params.currentPage }
            ].filter(Boolean)

        for item in items
            +nav-menu-item(item)

        if block
            block