extends ../../layout.pug

mixin case-thumbnail(key, tech, name, desc, background, video, backgroundStyle="")
    a.case-thumbnail(href=("/case-" + key), style=("background: " + backgroundStyle))
        img(-lazy-src=background)
        video(playsinline autoplay muted loop)
            source(-data-src=video, type="video/mp4")
        .case-thumbnail__content
            h6!= tech
            h2!= name
            p!= desc

block body
    +section('top')
        +top-bar([ 'sticky', 'padding' ], { currentPage: "/cases" })
    +section('cases full')
        h1= siteData('blocks.label_cases')
        - let cases = siteData('cases');
        .case-thumbnails
            each caseItem, caseItemIndex in cases
                +case-thumbnail(
                    caseItem.slug,
                    caseItem.tech,
                    caseItem.title,
                    caseItem.lead,
                    assetUrl(caseItem.cover),
                    assetUrl(caseItem.cover_video)
                )
    +feedback-form([ 'section' ])
    +footer