-
    weHelpItems = [
        'tex.su',
        'autoscaners',
        'iCartool',
        'hakamada',
        'squadrille',
        'launch',
        'voenka',
        'odin-logo',
        'lawinrussia',
        'Dalena-logo',
        'format',
        'Orangemodels',
    ];

    weHelpFadeItems = [
        'hakamada', 'iCartool'
    ];

    features = siteData('page_main.features_offered');

section.features#features
    .section-content
        +top-bar([ "sticky", 'hideMainLink' ])(style="display:none")
        +menu-placeholder("we-help")
        +side-header(siteData('blocks.label_main_help'))
        .features__we-help-items
            for item in weHelpItems
                img(class=("features__we-help-item " + (weHelpFadeItems.indexOf(item) !== -1 ? 'features__we-help-item--fade' : '')), -lazy-src=("assets/main-features/" + item + ".svg"))
        +menu-placeholder("we-offer")
        +side-header(siteData('blocks.label_main_offer'))
        .features__we-offer-items
            each feature, index in features
                .features__we-offer-item
                    img.anim(-lazy-src=feature.icon, --anim="slide-in-back", --anim-speed="1.2s", --anim-delay="0.5s")
                    div.anim(--anim="slide-in-up", --anim-speed="1s", --anim-delay="0.4s")
                        h2= feature.title
                        ul
                            each item, index2 in feature.items
                                li
                                    i(class=item['fa-icon'])
                                    span= item.title

        p.features__we-offer-text !{siteData('page_main.content')}