mixin hero-slide(key, head, text, ctaText, ctaLink, isFirst=false)
    div(class=("hero-slide " + (isFirst ? "hero-slide--visible" : "")), id=(key + "-slide"))
        .hero-slide__head-wrapper
            h1.hero-slide__head!= head
        p.hero-slide__text!= text
        //- a.hero-slide__cta(href=ctaLink)
        //-     i.fas.fa-arrow-right
        //-     span!= ctaText
        ul.hero-slide__items
            block

mixin hero-slide-item(icons, text, number_)
    li.hero-slide-item
        if block
            block
        each iconSrc in icons
            img.hero-slide-item__icon(-lazy-src=iconSrc)
        if number_ !== undefined
            .hero-slide-item__number(data-number=number_)
        p
            span!= text

mixin hero-video(key, videoSrc, backgroundStylePlaceholder, isFirst=false)
    div(
        id=(key + "-video"),
        class=("hero-slide-video " + (isFirst ? "hero-slide-video--visible" : "")),
        data-src=videoSrc,
        style=backgroundStylePlaceholder
    )
        //- placeholder fallback
        if !!isFirst
            img(src=(videoSrc + ".jpg"))
        else
            img(-lazy-src=(videoSrc + ".jpg"), -lazy-delay="0.5s", -lazy-timeout="1s")
        video(playsinline autoplay muted)
            if !!isFirst
                source(-lazy-src=videoSrc, type="video/mp4", -lazy-delay="0.5s", -lazy-timeout="2s")

mixin hero-video-progress(key, text, isFirst=false)
    div(id=(key + "-progressbar") class=("hero-video-progress " + (isFirst ? "hero-video-progress--active" : "")))
        p!= text
        .hero-video-progress__bar
            .hero-video-progress__bar-fill

mixin hero-item-photo(src, ind=1, alt="Фото")
    .hero-slide-item__photo
        img(-lazy-src=src, alt=alt, style=("z-index:"+(ind + 5)))
        .hero-slide-item__photo-backdrop

section.hero.full#hero
    +hero-video(
        "rapiddev",
        "assets/bereza-slide-01.mp4",
        "background: linear-gradient(45deg, rgb(0,0,0) 0%, rgb(81,100,140) 43%, rgb(91,112,156) 54%, rgb(43,8,0) 100%);",
        "first video"
    )
    +hero-video(
        "moderntech",
        "assets/bereza-slide-02.mp4",
        "background: linear-gradient(to right, rgb(0,0,0) 0%, rgb(42,42,87) 19%, rgb(175,179,186) 54%, rgb(186,186,186) 100%);"
    )
    +hero-video(
        "expteam",
        "assets/bereza-slide-03.mp4",
        "background: linear-gradient(to bottom, rgb(227,211,123) 0%, rgb(74,59,48) 19%, rgb(0,0,0) 100%);"
    )
    .section-content
        header.top-bar
            img.top-bar__logo(src="assets/logo-white.svg")
            a(href="#feedback")
                +request-estimate-btn('dark')
            div.top-bar__menu.top-bar__menu--closed
                +nav-menu('dark')
            //- i.far.fa-bars.top-bar__mobile-menu(role="button")
            //- i.fal.fa-times.top-bar__mobile-menu-close(role="button")
        .hero-slide-wrapper
            +mouse-help-icon
            +hero-slide("rapiddev", "Скоростная<br>web и mobile<br>разработка", "Смета за несколько часов<br>Прототип за несколько дней<br>MVP за несколько недель", "Смотреть кейсы", "#cases", "first")
                +hero-slide-item([ "assets/hero-design-icon.svg" ], "UX исследования и аналитика<br>UI/UX Прототипирование & Дизайн")
                +hero-slide-item([ "assets/hero-dev-icon.svg" ], "Кроссплатформенная разработка<br>Front-end, Back-end и API")
                +hero-slide-item([ "assets/hero-ecom-icon.svg" ], "Специализация в разработке<br>E-commerce & Online-media")
            +hero-slide("moderntech", "Проверенный,<br>современный стек<br>и процессы", "JavaScript, TypeScript, NodeJS<br>Continuos Integration и Continuos Delivery<br>Agile подход", "Процессы и технологии", "#tech")
                +hero-slide-item([ "assets/hero-bullfinch-icon.svg", "assets/hero-figma-icon.svg" ], "Уникальный подход к доставке<br>дизайна во Front-end")
                +hero-slide-item([ "assets/hero-react-icon.svg", "assets/hero-nodejs-icon.svg" ], "JavaScript/TypeScript стек<br>для новых продуктов")
                +hero-slide-item([ "assets/hero-laravel-icon.svg", "assets/hero-bitrix-icon.svg" ], "Поддержка и разработка<br>систем на PHP")
            +hero-slide("expteam", "Опытная,<br>универсальная и<br>передовая команда", "UI/UX Дизайнеры<br>Front-end и Back-end Разработчики<br>QA и DevOps", "Познакомиться с командой", "#team")
                +hero-slide-item([], "Дизайн и менеджмент", 4)
                    +hero-item-photo("assets/team/yd-square.jpg", 4)
                    +hero-item-photo("assets/team/dz-square.jpg", 3)
                    +hero-item-photo("assets/team/ab-square.jpg", 2)
                    +hero-item-photo("assets/team/me-square.jpg", 1)
                +hero-slide-item([], "Front-end & Mobile", 3)
                    +hero-item-photo("assets/team/vk.jpg", 3)
                    +hero-item-photo("assets/team/nd.jpg", 2)
                    +hero-item-photo("assets/team/dg.jpg", 1)
                +hero-slide-item([], "Back-end & DevOps", 2)
                    +hero-item-photo("assets/team/is-square.jpg", 2)
                    +hero-item-photo("assets/team/vs-square.jpg", 1)
        .hero-video-progress-menu
            +hero-video-progress("rapiddev", "создаем", "first")
            +hero-video-progress("moderntech", "используем")
            +hero-video-progress("expteam", "являемся")