mixin hero-slide(key, head, text, ctaText, ctaLink, isFirst=false)
    div(class=("hero-slide " + (isFirst ? "hero-slide--visible" : "")), id=(key + "-slide"))
        .hero-slide__head-wrapper
            h1.hero-slide__head!= head
        p.hero-slide__text!= text
        a.hero-slide__cta(href=ctaLink)
            i.fas.fa-arrow-right
            span!= ctaText
        ul.hero-slide__items
            block

mixin hero-slide-item(icons, text, number_)
    li.hero-slide-item
        each iconSrc in icons
            img(src=iconSrc)
        if number_ !== undefined
            span.hero-slide-item__number(data-number=number_)
        p
            span!= text

mixin hero-video(key, videoSrc, isFirst=false)
    div(id=(key + "-video") class=("hero-slide-video " + (isFirst ? "hero-slide-video--visible" : "")) data-src=(videoSrc))
        video(playsinline autoplay muted)
            if !!isFirst
                source(src=videoSrc, type="video/mp4")

mixin hero-video-progress(key, text, isFirst=false)
    div(id=(key + "-progressbar") class=("hero-video-progress " + (isFirst ? "hero-video-progress--active" : "")))
        p!= text
        .hero-video-progress__bar
            .hero-video-progress__bar-fill

section.hero.full#hero
    +hero-video("rapiddev", "assets/rapiddev.mp4", "first video")
    +hero-video("moderntech", "assets/moderntech.mp4")
    +hero-video("expteam", "assets/expteam.mp4")
    .section-content
        //- img.hero-video-backdrop(src=".assets/hero-video-backdrop.svg")
        .hero-backdrop
        //- .hero-shadow-up
        .hero-shadow-left
        .hero-shadow-right
        //- .hero-shadow-bottom
        header.top-bar
            img.top-bar__logo(src="assets/logo-white.svg")
            a(href="#feedback")
                +request-estimate-btn('dark')
            div.top-bar__menu.top-bar__menu--closed
                +nav-menu('dark')
            //- i.far.fa-bars.top-bar__mobile-menu(role="button")
            //- i.fal.fa-times.top-bar__mobile-menu-close(role="button")
        .hero-slide-wrapper
            +hero-slide("rapiddev", "Скоростная<br>web и mobile<br>разработка", "Смета за несколько часов<br>Прототип за несколько недель<br>MVP за несколько месяцев", "Смотреть кейсы", "#cases", "first")
                +hero-slide-item([ "assets/hero-design-icon.svg" ], "UX исследования и аналитика<br>UI/UX Прототипирование & Дизайн")
                +hero-slide-item([ "assets/hero-dev-icon.svg" ], "Кросс-платформенная разработка<br>Front-end, Back-end и API")
                +hero-slide-item([ "assets/hero-ecom-icon.svg" ], "Специализация в разработке<br>E-commerce & Online-media")
                +mouse-help-icon
            +hero-slide("moderntech", "Проверенный, современный<br>технологический стек<br>и подходы", "JavaScript, TypeScript, NodeJS<br>Continuos Integration и Continuos Delivery<br>Agile подход", "Процессы и технологии", "#tech")
                +hero-slide-item([ "assets/hero-bullfinch-icon.svg", "assets/hero-figma-icon.svg" ], "Our own Design Language<br>with CI to Front-end")
                +hero-slide-item([ "assets/hero-react-icon.svg", "assets/hero-vue-icon.svg", "assets/hero-nodejs-icon.svg" ], "Full JavaScript Stack for<br>New Products")
                +hero-slide-item([ "assets/hero-laravel-icon.svg", "assets/hero-bitrix-icon.svg" ], "PHP-driven systems support<br>and development")
            +hero-slide("expteam", "Опытная,<br>универсальная и<br>передовая команда", "UI/UX Дизайнеры<br>Front-end и Back-end Разработчики<br>QA и DevOps", "Познакомиться с командой", "#team")
                +hero-slide-item([], "Дизайн и менеджмент", 4)
                +hero-slide-item([], "Front-end & Mobile", 3)
                +hero-slide-item([], "Back-end & DevOps", 2)
        .hero-video-progress-menu
            +hero-video-progress("rapiddev", "создаем", "first")
            +hero-video-progress("moderntech", "используем")
            +hero-video-progress("expteam", "являемся")