mixin hero-slide(key, head, text, ctaText, ctaLink, isFirst=false)
    div(class=("hero-slide " + (isFirst ? "hero-slide--visible" : "")), id=(key + "-slide"))
        .hero-slide__head-wrapper
            h1.hero-slide__head!= head
        p.hero-slide__text!= text
        //- a.hero-slide__cta(href=ctaLink)
        //-     i.fas.fa-arrow-right
        //-     span!= ctaText
        ul.hero-slide__items
            block

mixin hero-slide-item(icons, text, number_)
    li.hero-slide-item
        if block
            block
        each iconSrc in icons
            +img(iconSrc).hero-slide-item__icon
        if number_ !== undefined
            .hero-slide-item__number(data-number=number_)
        p
            span!= text

mixin hero-video(key, videoSrc, backgroundStylePlaceholder, isFirst=false)
    div(
        id=(key + "-video"),
        class=("hero-slide-video " + (isFirst ? "hero-slide-video--visible" : "")),
        data-src!=assetUrl(videoSrc),
        style!=backgroundStylePlaceholder
    )
        //- placeholder fallback
        if !!isFirst
            +img(videoSrc + ".jpg", 1224, 408)
        else
            +img(videoSrc + ".jpg", 1224, 408)(-lazy-fade="0.5s", -lazy-delay="1s")
        video(playsinline autoplay muted)
            if !!isFirst
                source(-lazy-src!=assetUrl(videoSrc), type="video/mp4", -lazy-fade="0.5s", -lazy-delay="2s")

mixin hero-video-progress(key, text, isFirst=false)
    div(id=(key + "-progressbar") class=("hero-video-progress " + (isFirst ? "hero-video-progress--active" : "")))
        p!= text
        .hero-video-progress__bar
            .hero-video-progress__bar-fill

mixin hero-item-photo(src, ind=1, alt="Фото")
    .hero-slide-item__photo
        img(-lazy-src!=src, alt=alt, style=("z-index:"+(ind + 5)))
        .hero-slide-item__photo-backdrop

- var slides = siteData('hero');

section.hero#hero
    each slide, slideIndex in slides
        +hero-video(
            slide.id,
            slide.video,
            slide.backgroundStyle,
            slideIndex ? "" : "first video"
        )

    .section-content
        +top-bar([ 'dark', 'hideMainLink' ])
        .hero-slide-wrapper
            +mouse-help-icon
            each slide, slideIndex in slides
                +hero-slide(
                    slide.id,
                    slide.header,
                    slide.text,
                    slide.cta.text,
                    slide.cta.link,
                    slideIndex ? "" : "first"
                )
                    if slide.icons[0] && slide.icons[0].number
                        each icon, iconIndex in slide.icons
                            +hero-slide-item([], icon.title, icon.number)
                                each photo, k in icon.icons
                                    +hero-item-photo(assetUrl(photo), icon.icons.length - k)
                    else
                        each icon, iconIndex in slide.icons
                            +hero-slide-item(icon.icons, icon.title)

        .hero-video-progress-menu
            each slide, index in slides
                +hero-video-progress(slide.id, slide.title, index ? "" : "first")
