-
    // Filter out `false` class names
    // 
    // eg:
    //
    //  div(class=classNames([ "top-bar", isDark && "top-bar--dark", hasPadding && "top-bar--padding" ]))
    //
    // or
    //
    // div(class=classNames("top-bar", isDark && "top-bar--dark", hasPadding && "top-bar--padding"))
    //
    function classNames() {
        if (arguments.length === 0) return "";
        if (arguments.length === 1) {
            if (typeof arguments[0] === 'string') return arguments[0];
            else return _classNames(arguments[0]);
        }
        return _classNames(arguments);
    }
    function _classNames(array) {
        if (!Array.isArray(array)) array = Array.from(array);
        return array.filter(x => x !== false).join(" ")
    }

    // Bad practic bacause of WTF is going on
    //
    // bemClass('btn', { --dark: isDarkFlag }) -> 'btn--dark'
    function bemClass(baseClassName, optClassMap, additionalClasses) {
        let output = [ baseClassName ];
        for (const [ classPart, opt ] of Object.entries(optClassMap)) {
            if (opt) output.push(`${baseClassName}${classPart}`);
        }
        output.push(classNames(additionalClasses));
        return output.join(' ');
    }

    // Monkey patch for `flags.has('dark')`
    Array.prototype.has = Array.prototype.includes;

    function isAssetLocalUrl(url) {
        return (
            url.startsWith('/assets/') ||
            url.startsWith('assets/')
        );
    }

    // Map to dev uploads for dev builds
    function assetUrl(url) {
        if (typeof url !== 'string') {
            console.error(`bad url, in template ${BUILD_INFO ? BUILD_INFO.templateFilePath : 'unknown'}`);
            return '';
        }

        if (BUILD_MODE === 'prod') return url;
        if (
            // is local?
            url.startsWith('/assets/') ||
            url.startsWith('assets/') ||
            // direct link is set?
            url.startsWith('http://berezadev.') ||
            url.startsWith('https://berezadev.') ||
            url.startsWith('http://dev.berezadev.') ||
            url.startsWith('https://dev.berezadev.')
        ) return url;

        if (!url.startsWith('/')) url = '/' + url;
        // dev build & path not to assets
        return `http://dev.berezadev.com${url}`;
    }

    function _responsiveImg(url, width) {
        let endLen = 0;
        if (url.endsWith('.jpg')) endLen = 4;
        if (url.endsWith('.jpeg')) endLen = 5;

        if (endLen === 0) {
            console.warn('_responsiveImg: no reponsive for not jpg, url='+url);
            return url;
        }

        let end = url.substr(url.length - endLen);
        return url.substr(0, url.length - endLen) + '-' + width + 'x_' + end;
    }

    // desktopWidth - target image size on desktop
    // mobileWidth? - target image size on mobile
    function responsiveImgSrcSet(url, desktopWidth, mobileWidth = Math.floor(desktopWidth * 0.6)) {
        let sm = mobileWidth;
        let reg = Math.floor(desktopWidth);
        let big = Math.floor(desktopWidth * 1.4);

        return [
            _responsiveImg(url, sm) + ' ' + sm + 'w',
            _responsiveImg(url, reg * 1.5) + ' ' + reg + 'w',
            _responsiveImg(url, big * 2) + ' ' + big + 'w',
        ].join(', ');        
    }

    function imgAttrs(url, desktopWidth, mobileWidth, noAssetUrl = false) {
        if (!noAssetUrl) url = assetUrl(url);

        if (desktopWidth && !isAssetLocalUrl(url)) {
            return ({
                '-lazy-srcset': responsiveImgSrcSet(url, desktopWidth, mobileWidth),
                '-lazy-src': url,
            });
        }
        return ({
            '-lazy-src': url,
        });
    }

    // eg:
    //
    // +img('car.png', 216)&attributes(animAttrs("slide-in-up", "0.8s", "0.2s"))
    // .wrapper&attributes(animAttrs("slide-in-up", "0.8s", "0.2s"))
    //
    function animAttrs(animName, speed, delay, irate = '0.1') {
        return ({
            class: 'anim',
            '--anim': animName,
            '--anim-speed': speed,
            '--anim-delay': delay,
            '--anim-irate': irate,
        });
    }

//- Load css lazily with noscript fallback
//- eg:
//-
//- +linkLazyCSS("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Ubuntu:300,500&amp;subset=cyrillic")
//- +linkLazyCSS("assets/css/fontawesome-all.min.css")
mixin linkLazyCSS(href)
    link(
        href=href,
        rel="stylesheet",
        media="none",
        onload="if(media!='all')media='all'"
    )&attributes(attributes)
    noscript
        link(href=href, rel="stylesheet")&attributes(attributes)

//- do not base on this mixin, it's only a shorthand for [section & .section-content]
mixin section(class_, contentAttributes={})
    section(class=class_)&attributes(attributes)
        if block
            .section-content&attributes(contentAttributes)
                block
                

mixin img(url, desktopWidth, mobileWidth, noAssetUrl = false)
    img&attributes(imgAttrs(url, desktopWidth, mobileWidth, noAssetUrl))&attributes(attributes)