extends ../../parts/case-layout/page.pug

block init
    - let caseData = siteData('case_' + caseSlug);
    - let accentStyles = caseData.makeup ? `
    -    background-color: ${caseData.makeup.backgroundColor};
    -    color: ${caseData.makeup.fontColor};
    - ` : '';
    if caseData.makeup && caseData.makeup.backgroundColor
        style!= ".single-carousel-fade__dot--current { background-color: " + caseData.makeup.backgroundColor + " !important; }"

block caseTop
    +case-top(caseData.title)

block caseAbout
    != caseData.description

block caseSiteLink
    +case-site-link(caseData.url)

block afterCaseAbout
    if caseData.gallery && caseData.gallery.length !== 0
        +devices-gallery(caseData.gallery.map(x => Object.assign({}, x, {
            img: assetUrl(x.img),
            img2: x.img2 && assetUrl(x.img2)
        })))

block content
    if caseData.goal
        +section('goal')(style=accentStyles)
            h3 Цель
            != caseData.goal

    if caseData.steps
        +section('dev')
            for stepItem in caseData.steps
                .dev__item
                    h4!= stepItem.title
                    != stepItem.content

    if caseData.result
        - let resultHasGallery = caseData.results_gallery && caseData.results_gallery.length !== 0
        
        +section(classNames('result', resultHasGallery && 'result--has-previews'))(style=accentStyles)
            h3 Результат
            != caseData.result

            if resultHasGallery
                .result__previews
                    img._1(-lazy-src=assetUrl(caseData.results_gallery[0]))
                    img._2(-lazy-src=assetUrl(caseData.results_gallery[1]))
                    img._3(-lazy-src=assetUrl(caseData.results_gallery[2]))

    if caseData.client_review
        +section('review')
            .review__text!= caseData.client_review.client_review
            img.review__avatar(-lazy-src=assetUrl(caseData.client_review.client_photo))
            h3.review__name!= caseData.client_review.client_name
            p.review__job!= caseData.client_review.client_position
            img.review__quote.review__quote--left(-lazy-src="/assets/quote-left-ru.svg")
            img.review__quote.review__quote--right(-lazy-src="/assets/quote-right-ru.svg")
