extends ../../parts/case-layout/page.pug

block init
    - let caseData = siteData('case_' + caseSlug);
    - let accentStyles = caseData.makeup ? `
    -    background-color: ${caseData.makeup.backgroundColor};
    -    color: ${caseData.makeup.fontColor};
    - ` : '';
    //- if caseData.makeup && caseData.makeup.backgroundColor
    //-     - let styles = [
    //-     //- -   caseData.makeup.backgroundColor && (".single-carousel-fade__dot--current { background-color: " + caseData.makeup.backgroundColor + " !important; }"),
    //-     //- -   `*::selection, *::-moz-selection { color: ${caseData.makeup.fontColor}; background: ${caseData.makeup.backgroundColor}; }`,
    //-     //- -   `.goal::selection, .result::selection, .goal::-moz-selection, .result::-moz-selection, .goal ::selection, .result ::selection, .goal ::-moz-selection, .result ::-moz-selection { color: ${caseData.makeup.backgroundColor}; background: ${caseData.makeup.fontColor}; }`
    //-     - ].filter(Boolean).join('\n\n');

    //-     style!= styles

block caseTop
    +case-top(caseData.title)

block caseAbout
    != caseData.description

block caseSiteLink
    if caseData.url && !!caseData.url.trim()
        +case-site-link(caseData.url)

block afterCaseAbout
    if caseData.gallery && caseData.gallery.length !== 0
        +devices-gallery(caseData.gallery)

block content
    if caseData.goal
        +section('goal')(style=accentStyles)
            h3 Цель
            != caseData.goal

    if caseData.steps
        +section('dev')
            for stepItem in caseData.steps
                .dev__item
                    h4!= stepItem.title
                    != stepItem.content

    if caseData.result
        - let resultHasGallery = caseData.results_gallery && caseData.results_gallery.length !== 0
        
        +section(classNames('result', resultHasGallery && 'result--has-previews'))(style=accentStyles)
            h3 Результат
            != caseData.result

            if resultHasGallery
                .result__previews
                    +img(caseData.results_gallery[0], 312)._1
                    +img(caseData.results_gallery[1], 312)._2
                    +img(caseData.results_gallery[2], 312)._3

    if caseData.client_review
        +section('review')
            div(class=classNames([ 'review__text', caseData.client_review.client_review.match(/(\<p\>)+/gi).length > 1 && 'review__text--small' ]))!= caseData.client_review.client_review
            +img(caseData.client_review.client_photo, 120).review__avatar
            h3.review__name!= caseData.client_review.client_name
            p.review__job!= caseData.client_review.client_position
            img.review__quote.review__quote--left(-lazy-src="/assets/quote-left-ru.svg")
            img.review__quote.review__quote--right(-lazy-src="/assets/quote-right-ru.svg")
        +feedback-form([ 'section', 'dark' ])
    else
        +feedback-form([ 'section' ])
