extends ../../parts/case-layout/page.pug

//- result gallery item
//- type - gallery type, one of: android, ios, browser
mixin rg-item(imgSrc, responsiveWidth, type)
    if type === 'browser'
        +rg-item-browser(imgSrc, responsiveWidth)&attributes(attributes)
    else if type === 'android'
        +rg-item-android(imgSrc, responsiveWidth)&attributes(attributes)
    else if type === 'ios'
        +rg-item-ios(imgSrc, responsiveWidth)&attributes(attributes)
    else
        +rg-item-none(imgSrc, responsiveWidth)&attributes(attributes)

//- result gallery item
mixin rg-item-browser(imgSrc, responsiveWidth)
    .rg-item.rg-item--browser.rg-item__shadow
        .rg-item__browser-topbar
            +img('/assets/cases/browser-topbar-left.svg').rg-item__browser-topbar-left
            +img('/assets/cases/browser-topbar-right.svg').rg-item__browser-topbar-right
        +img(imgSrc, responsiveWidth)&attributes(attributes).rg-item__img

//- result gallery item
mixin rg-item-android(imgSrc, responsiveWidth)
    .rg-item.rg-item--android
        +img('/assets/cases/phone-native-mask.svg').rg-item__phone
        +img(imgSrc, responsiveWidth)&attributes(attributes).rg-item__img.rg-item__shadow

//- result gallery item
mixin rg-item-ios(imgSrc, responsiveWidth)
    .rg-item.rg-item--ios
        +img('/assets/cases/phone-native-mask.svg').rg-item__phone
        +img(imgSrc, responsiveWidth)&attributes(attributes).rg-item__img.rg-item__shadow

//- result gallery item
mixin rg-item-none(imgSrc, responsiveWidth)
    +img(imgSrc, responsiveWidth)&attributes(attributes).rg-item.rg-item--none.rg-item__shadow.rg-item__img

block init
    - let caseData = siteData('case_' + caseSlug);
    - let accentStyles = caseData.makeup ? `
    -    background-color: ${caseData.makeup.backgroundColor};
    -    color: ${caseData.makeup.fontColor};
    - ` : '';
    //- if caseData.makeup && caseData.makeup.backgroundColor
    //-     - let styles = [
    //-     //- -   caseData.makeup.backgroundColor && (".single-carousel-fade__dot--current { background-color: " + caseData.makeup.backgroundColor + " !important; }"),
    //-     //- -   `*::selection, *::-moz-selection { color: ${caseData.makeup.fontColor}; background: ${caseData.makeup.backgroundColor}; }`,
    //-     //- -   `.goal::selection, .result::selection, .goal::-moz-selection, .result::-moz-selection, .goal ::selection, .result ::selection, .goal ::-moz-selection, .result ::-moz-selection { color: ${caseData.makeup.backgroundColor}; background: ${caseData.makeup.fontColor}; }`
    //-     - ].filter(Boolean).join('\n\n');

    //-     style!= styles

block caseTop
    +case-top(caseData.title)

block caseAbout
    != caseData.description

block caseSiteLink
    if caseData.url && !!caseData.url.trim()
        +case-site-link(caseData.url)

block afterCaseAbout
    if caseData.gallery && caseData.gallery.length !== 0
        +devices-gallery(caseData.gallery)

block content
    if caseData.goal
        +section('goal')(style=accentStyles)
            h3 Цель
            != caseData.goal

    if caseData.steps
        +section('dev')
            for stepItem in caseData.steps
                .dev__item
                    h4!= stepItem.title
                    != stepItem.content

    if caseData.result
        - let resultHasGallery = caseData.results_gallery && caseData.results_gallery.length !== 0
        
        +section(classNames('result', resultHasGallery && 'result--has-previews'))(style=accentStyles)
            - // android, ios, browser
            - let galleryType = caseData.results_stroke || 'browser';
            h3 Результат
            != caseData.result

            if resultHasGallery
                .result-gallery
                    for galleryItem, galleryItemIndex in caseData.results_gallery
                        +rg-item(caseData.results_gallery[galleryItemIndex], 312, galleryType)(class=("_" + (galleryItemIndex + 1)))

    if caseData.client_review
        +section('review')
            div(class=classNames([ 'review__text', caseData.client_review.client_review.match(/(\<p\>)+/gi).length > 1 && 'review__text--small' ]))!= caseData.client_review.client_review
            +img(caseData.client_review.client_photo, 120).review__avatar
            h3.review__name!= caseData.client_review.client_name
            p.review__job!= caseData.client_review.client_position
            img.review__quote.review__quote--left(-lazy-src="/assets/quote-left-ru.svg")
            img.review__quote.review__quote--right(-lazy-src="/assets/quote-right-ru.svg")
        +feedback-form([ 'section', 'dark' ])
    else
        +feedback-form([ 'section' ])
