mixin nav-menu-item(href, text, class_="")
    a(href=href, class=class_)
        span.nav-menu__item-placeholder= text
        span.nav-menu__item-text= text

mixin nav-menu(dark=false)
    //- nav(role="navigation", class=("nav-menu " + (dark ? 'nav-menu--dark' : '')))
    //-     +nav-menu-item("#cases", "Cases", "first-el")
    //-     +nav-menu-item("#tech", "Technology")
    //-     +nav-menu-item("#team", "Team")
    //-     +nav-menu-item("#contacts", "Contacts")
        //- +nav-menu-item("#estimate-calc", "Reuest estimate")

mixin request-estimate-btn(dark=false)
    button(class=('request-estimate-btn ' + (dark ? 'request-estimate-btn--dark' : '')))
        i.fas.fa-calculator
        span Запросить смету

mixin mouse-help-icon
    .mouse-help-icon
        .mouse-help-icon__wheel
        .mouse-help-icon__label Скрольте вниз

mixin side-header(text, id, darkBackground=false)
    h3(id=id, class=("side-header " + (darkBackground ? 'side-header--dark-bg' : '')))!= text

mixin input-w-top-label(type, label, placeholder, name, pattern, required)
    .input-w-top-label
        input(type=type, placeholder=placeholder, pattern=pattern, name=name, required=required)
        .input-w-top-label__lg
            .input-w-top-label__lg-left
            label= label
            .input-w-top-label__lg-right

mixin textarea-w-top-label(type, label, placeholder, name, pattern, required)
    .textarea-w-top-label
        textarea(type=type, placeholder=placeholder, pattern=pattern, name=name, required=required)
        .textarea-w-top-label__lg
            .textarea-w-top-label__lg-left
            label= label
            .textarea-w-top-label__lg-right

mixin _feedback-form(dark=false, centered=false, headerText="Свяжитесь с нами")
    form(class=("feedback-form " + (dark ? 'feedback-form--dark ' : '') + (centered === true ? 'feedback-form--centered ' : '')))
        h4= headerText
        +input-w-top-label("text", "Ваше имя", "", "name", "", "required")
        +input-w-top-label("email", "e-mail", "yourmail@company.com", "email", "^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$", "required")
        +input-w-top-label("tel", "телефон", "+9 (999) 999-99-99", "phone", "", "required")
        +textarea-w-top-label("text", "что-то, что нам нужно знать заранее", "Информация о проекте", "message", "", "required")
        input(type="submit", value="Отправить")
        p.
            Отправляя форму, вы разрешаете обработку персональных данных<br>
            и соглашаетесь c <a href="/politic-confident.pdf">политикой конфиденциальности</a>.

mixin feedback-form(dark=false, section=false, centered=false, headerText="Свяжитесь с нами")
    if section
        section#feedback(class=("full feedback " + (dark ? 'feedback--dark' : '')))
            .section-content
                if block
                    block
                +_feedback-form(dark, true, headerText)
    else
        +_feedback-form(dark, centered, headerText)

mixin footer
    section.footer.full#footer
        .section-content
            p © 2019. ООО «Береза-Развитие».
            a(href="mailto:job@berezadev.com?subject=Стажировка") Стажировка
            a(href="/politic-confident.pdf") Политика конфиденциальности